.evenements[b-hzrzk36hr7] {
    margin: 16px 0;
    height: calc(100% - 32px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}