.dialog-header[b-s5gtumvswj] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 12px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.dialog-body[b-s5gtumvswj] {
    font-size: 0.8rem;
    text-align: center;
    margin: 12px 12px 0 12px;
    color: black;
    font-weight: 400;
}
